*
{
    padding: 0;
    margin: 0;
}

.body
{
    background: rgba(0, 0, 0, 0.386)url(/bg12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    max-width: 100vw;
    max-height: 100vh;

}

.navbar
{
    background-color: rgba(12, 12, 12, 0.351) !important;
}

.navv
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px !important;
}

.logo
{
    border-radius: 50%;
    border-radius: 50%;
    border: 2px solid white;
}

.logo:hover
{
    border: 2px solid rgb(66, 243, 219);
    padding: 1px;
    cursor: pointer;
}

.nav-link
{
    color: white !important;
}

.nav-link:hover
{
    color: aqua !important;
    text-decoration: underline !important;
}

i
{
    cursor: pointer;
    align-items: center !important;
}

.far
{
    font-size: 15px !important;
}

.card-img-top
{
    height: 25vh;
}

.heading
{
    font-family:'Times New Roman', Times, serif;
    color: white;
}

.card
{
    background-color: rgba(255, 255, 255, 0.76) !important;
}


.container-fluid
{
    height: 18vh;
    width: 100wh;
    background-color: black;
    position: fixed;
    top: 82vh !important;
}

.progress
{
    cursor: pointer;
}

.icons
{
    color: white;
}

.icons i
{
    cursor: pointer;
}

.playb
{
    font-size: 47px !important;
}

.container1
{
    height: 30vh;
}